html,body{
    height: 100%;
    overflow-x: hidden;
}

blockquote {
    margin: 0;
}

.theme-alt blockquote {
    border-left: 5px solid rgba(255, 255, 255, 0.5);
}

blockquote {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 769px) {
    .youtube-player {
        width: 640px;
        height: 360px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .youtube-player {
        width: 100%;
        height: 315px;
        margin: 0 auto;
    }
}

video {
    width: 100%;
}

#root {
    height: 100%;
}

body {
    background-color: #F4F3F3;
}

/* YOSPOS (Green) */

.theme-alt.yospos .post-container, .theme-alt.yospos h5, .theme-alt.yospos h4 {
    color: #57FF57 !important;
    font-family: "consolas", "monaco", monospace !important;
}

.theme-alt.yospos button {
	background-color: transparent !important;
    color: #57FF57 !important;
    border-color: #57FF57 !important;
	font-family: "consolas", "monaco", monospace !important;
}

.theme-alt.yospos button:hover {
    background-clip: border-box;
    background-color: #C6D9FB;
    border-color: #57FF57;
	animation-name:animes;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}

.theme-alt.yospos a, .theme-alt.yospos a:hover, .theme-alt.yospos a:visited{
    color: rgba(87, 255, 87, 0.651);
	text-decoration: underline;
}

@keyframes animes {
    0%{background:#57ff57;color:#000}50%{background:#000;color:#57ff57}100%{background:#57ff57;color:#000}
}

.theme-alt.yospos .post-container.has-seen {
    background-color: #114211!important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAARSURBVBhXYwACQSdBMGZgAAAFhgDJcI5nugAAAABJRU5ErkJggg==')!important;
    background-repeat: repeat!important;
}

/* END YOSPOS (Green) */

/* YOSPOS (Amber) */

.theme-alt.yospos-amber .post-container, .theme-alt.yospos-amber h5, .theme-alt.yospos-amber h4 {
    color: #ffa908 !important;
    font-family: "consolas", "monaco", monospace !important;
}

.theme-alt.yospos-amber button {
	background-color: transparent !important;
    color: #ffa908 !important;
    border-color: #ffa908 !important;
	font-family: "consolas", "monaco", monospace !important;
}

.theme-alt.yospos-amber button:hover {
    background-clip: border-box;
    background-color: #C6D9FB;
    border-color: #ffa908;
	animation-name:animesamber;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}

.theme-alt.yospos-amber a, .theme-alt.yospos-amber a:hover, .theme-alt.yospos-amber a:visited{
    color: rgba(255, 174, 0, 0.651);
	text-decoration: underline;
}

@keyframes animesamber {
    0%{background:#ffa908;color:#000}50%{background:#000;color:#ffa908}100%{background:#ffa908;color:#000}
}

.theme-alt.yospos-amber .post-container.has-seen {
    background-color: #3d2800!important;
    background-repeat: repeat!important;
}


/* END YOSPOS (Amber) */


.logo-center {
    margin: 0 auto;
    height: 100%;
}

svg path {
    fill: green !important;
}

body.theme-alt {
    background-color: black;
}

.thread-posts {
    background-color: #F4F3F3;
    color: black;
}

.thread-posts.theme-alt {
    background-color: black;
    color: white;
}

.bbc-spoiler, .bbc-spoiler li {
    color: black;
    background: #000
}

.theme-alt .bbc-spoiler, .bbc-spoiler li {
    color: #333;
    background: #333;
}

.bbc-spoiler.reveal li, .bbc-spoiler.reveal, .bbc-spoiler.stay {
    background-color: #fafafa;
}

.post-container.has-seen {
    background-color: #E8EFF8;
}

.theme-alt .post-container.has-seen {
    background-color: #1b1b1b;
}

.post-container {
    background-color: #FFFFFF;
    border-top-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
}

.theme-alt .post-container {
    background-color: rgba(20, 20, 20, 1);
    border-top-color: #1e1e1e;
    border-bottom-color: #1e1e1e;
}

.progress-bar {
    position: relative;
    width: 180px;
    height: 4px
  }
  
  .progress-bar .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    opacity: 0;
    -webkit-animation: progress-bar-animation 3s infinite;
    -o-animation: progress-bar-animation 3s infinite;
    animation: progress-bar-animation 3s infinite
  }
  
  .progress-bar .progress-circle:after {
    content: "\2022";
    position: absolute;
    font-size: 10px;
    color: #0078D7
  }
  
  .progress-bar .progress-circle:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
  }
  
  .progress-bar .progress-circle:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
  }
  
  .progress-bar .progress-circle:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
  }
  
  .progress-bar .progress-circle:nth-child(5) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
  }
  
  .progress-bar.progress-medium {
    width: 296px
  }
  
  .progress-bar.progress-large {
    width: 100%
  }
  
  @-webkit-keyframes progress-bar-animation {
    0%{-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }
  
  30% {
    -webkit-transform: translate(60px,0);
    -ms-transform: translate(60px,0);
    -o-transform: translate(60px,0);
    transform: translate(60px,0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1
  }
  
  70% {
    -webkit-transform: translate(120px,0);
    -ms-transform: translate(120px,0);
    -o-transform: translate(120px,0);
    transform: translate(120px,0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
  
  100% {
    -webkit-transform: translate(180px,0);
    -ms-transform: translate(180px,0);
    -o-transform: translate(180px,0);
    transform: translate(180px,0);
    opacity: 0
  }
  
  }@keyframes progress-bar-animation {
    0%{-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }
  
  30% {
    -webkit-transform: translate(60px,0);
    -ms-transform: translate(60px,0);
    -o-transform: translate(60px,0);
    transform: translate(60px,0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1
  }
  
  70% {
    -webkit-transform: translate(120px,0);
    -ms-transform: translate(120px,0);
    -o-transform: translate(120px,0);
    transform: translate(120px,0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
  
  100% {
    -webkit-transform: translate(180px,0);
    -ms-transform: translate(180px,0);
    -o-transform: translate(180px,0);
    transform: translate(180px,0);
    opacity: 0
  }
  
  }.progress-ring {
    position: relative;
    width: 20px;
    height: 20px
  }
  
  .progress-ring .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-animation: progress-ring-animation 5s infinite;
    -o-animation: progress-ring-animation 5s infinite;
    animation: progress-ring-animation 5s infinite
  }
  
  .progress-ring .progress-circle:after {
    content: "\2022";
    position: absolute;
    font-size: 10px;
    color: #0078D7
  }
  
  .progress-ring .progress-circle:nth-child(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
  }
  
  .progress-ring .progress-circle:nth-child(3) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
  }
  
  .progress-ring .progress-circle:nth-child(4) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
  }
  
  .progress-ring .progress-circle:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
  }
  
  .progress-ring.progress-medium {
    width: 40px;
    height: 40px
  }
  
  .progress-ring.progress-large {
    width: 60px;
    height: 60px
  }
  
  .progress-ring.progress-medium .progress-circle {
    width: 40px;
    height: 40px
  }
  
  .progress-ring.progress-medium .progress-circle:after {
    font-size: 16px
  }
  
  .progress-ring.progress-large .progress-circle {
    width: 60px;
    height: 60px
  }
  
  .progress-ring.progress-large .progress-circle:after {
    font-size: 20px
  }
  
  @-webkit-keyframes progress-ring-animation {
    0%{-webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  
  7% {
    -webkit-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
  }
  
  30% {
    -webkit-transform: rotate(455deg);
    -ms-transform: rotate(455deg);
    -o-transform: rotate(455deg);
    transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
  }
  
  39% {
    -webkit-transform: rotate(690deg);
    -ms-transform: rotate(690deg);
    -o-transform: rotate(690deg);
    transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
  }
  
  70% {
    -webkit-transform: rotate(815deg);
    -ms-transform: rotate(815deg);
    -o-transform: rotate(815deg);
    transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  
  75% {
    -webkit-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  
  100%,76% {
    -webkit-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
    opacity: 0
  }
  
  }
  
  @keyframes progress-ring-animation {
      0% {
          -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          -o-transform: rotate(225deg);
          transform: rotate(225deg);
          opacity: 1;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out
      }
  
      7% {
          -webkit-transform: rotate(345deg);
          -ms-transform: rotate(345deg);
          -o-transform: rotate(345deg);
          transform: rotate(345deg);
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear
      }
  
      30% {
          -webkit-transform: rotate(455deg);
          -ms-transform: rotate(455deg);
          -o-transform: rotate(455deg);
          transform: rotate(455deg);
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out
      }
  
      39% {
          -webkit-transform: rotate(690deg);
          -ms-transform: rotate(690deg);
          -o-transform: rotate(690deg);
          transform: rotate(690deg);
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear
      }
  
      70% {
          -webkit-transform: rotate(815deg);
          -ms-transform: rotate(815deg);
          -o-transform: rotate(815deg);
          transform: rotate(815deg);
          opacity: 1;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out
      }
  
      75% {
          -webkit-transform: rotate(945deg);
          -ms-transform: rotate(945deg);
          -o-transform: rotate(945deg);
          transform: rotate(945deg);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out
      }
  
      100%,76% {
          -webkit-transform: rotate(945deg);
          -ms-transform: rotate(945deg);
          -o-transform: rotate(945deg);
          transform: rotate(945deg);
          opacity: 0
      }
  }
  
  /* Post */
  
  .post-footer {
      text-align: right;
      margin: 5px;
  }
  
  .editedby {
      font-size: 11px;
  }
  
  .post-body {
      margin: 3px;
  }
  
  .post-body img {
      vertical-align: bottom;
      max-width: 100%;
  }
  
  .post-container {
      margin-bottom: 15px;
      border-top: 1px solid;
      border-bottom: 1px solid;
  }
  
  .bbc-block h4 {
      font-size: 19px;
  }
  
  .bbc-block blockquote {
      font-size: 14px;
  }
  
  /* timg */
  img.timg.complete {
      border: 2px #b05042 solid;
      box-shadow: 2px 2px 1px #ccc;
      cursor: pointer
  }
  
  img.timg {
      visibility: hidden;
      margin: 1px
  }
  
  img.timg.loading {
          visibility: visible;
          border: 2px red solid;
          width: 10px;
          height: 10px
  }
  
  img.timg.complete {
          visibility: visible;
          border: 2px #2d9f09 solid
  }
  
  .timg_container {
      z-index: 5;
      position: relative;
      white-space: nowrap;
      display: inline-block
  }
  
  .timg_container img {
          z-index: 10
  }
  
  .timg_container .note {
          display: none;
          z-index: 20;
          opacity: .65;
          background-color: blue;
          background-image: url(https://i.somethingawful.com/core/icon/fsilk/shape_move_backwards.png);
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 9px;
          color: #fff;
          cursor: pointer;
          background-position: 4px 0;
          border: 1px #ccc dotted;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          margin: 11px 5px;
          padding: 2px 6px 2px 22px
  }
  
  .timg_container .note.expanded {
              background-image: url(https://i.somethingawful.com/core/icon/fsilk/shape_move_forwards.png);
  }
  
  /* bbc-hidden */
  
      .bbc-spoiler, .bbc-spoiler li {
          cursor: pointer;
      }
  
  .bbc-spoiler img.timg {
      visibility: hidden
  }
  
  .bbc-spoiler.stay img.timg, .bbc-spoiler.reveal img.timg {
      visibility: visible
  }
  
  .bbc-spoiler, .bbc-spoiler li {
      border-radius: 0;
      padding: 1px 0 2px
  }
  
  .bbc-spoiler img {
          visibility: hidden
  }
  
  .bbc-spoiler.reveal img, .bbc-spoiler.stay img {
          visibility: visible
  }
  
  .bbc-spoiler.reveal li, .bbc-spoiler.reveal, .bbc-spoiler.stay {
          cursor: pointer;
          box-shadow: none
  }
  
  /* User Post */
  
  .user-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5px;
  }
  
  .user-avatar {
      display: flex;
      align-items: center;
      height: auto;
      width: 60px;
      max-height: 60px;
      margin: 3px 12px 3px 3px;
  }
  
  .user-avatar img {
      flex-grow: 0;
      flex-shrink: 0;
  }
  
  .user-info-roles {
      padding-left: 20px !important;
      line-height: 16px !important;
      background-position: left center !important;
      background-repeat: no-repeat !important
  }
  
  .user-info {
      margin-bottom: 4px;
      padding-bottom: 0;
      color: #111;
      font-size: 15px;
      overflow-wrap: break-word;
  }

  .user-info.theme-alt {
    color: rgb(230, 230, 230);
  }
  
  .user-info .platinum {
      background-image: url(https://downloads.somethingawful.com/misc/gren-left.svg);
      background-size: 11px
  }
  
  .user-info .role-mod {
      background-image: url(https://downloads.somethingawful.com/misc/blue_star.svg);
      background-size: 15px
  }
  
  .user-info .role-admin {
      background-image: url(https://downloads.somethingawful.com/misc/red_star.svg);
      background-size: 15px
  }
  
  .user-info .palpek {
      background-image: url(https://fi.somethingawful.com/images/svgs/palpek.svg);
      background-size: 15px
  }
  
  .user-info .jose {
      background-image: url(https://fi.somethingawful.com/images/svgs/jose.svg);
      background-size: 15px
  }
  
  .user-info .labfeather {
      background-image: url(https://downloads.somethingawful.com/misc/labird.png);
      background-size: 15px
  }
  
  .user-info .exmarx {
      background-image: url(https://fi.somethingawful.com/images/svgs/exmarx.svg);
      background-size: 15px
  }
  
  .user-info .filmroll {
      background-image: url(https://downloads.somethingawful.com/misc/filmroll.svg);
      background-size: 15px
  }
  
  .user-info .jojo {
      background-image: url(https://downloads.somethingawful.com/misc/jojo2.svg);
      background-size: 15px
  }
  
  .user-info .marioluma {
      background-image: url(https://fi.somethingawful.com/images/svgs/marioluma.svg);
      background-size: 15px
  }
  
  .user-info .metroid {
      background-image: url(https://downloads.somethingawful.com/misc/metroid.svg);
      background-size: 15px
  }
  
  .user-info .moneybag {
      background-image: url(https://fi.somethingawful.com/images/svgs/moneybag.svg);
      background-size: 18px !important;
      line-height: 19px !important
  }
  
  .user-info .nespad {
      background-image: url(https://downloads.somethingawful.com/misc/nespad2.svg);
      background-size: 15px
  }
  
  .user-info .potleaf {
      background-image: url(https://downloads.somethingawful.com/misc/potleaf.svg);
      background-size: 15px
  }
  
  .user-info .soccerball {
      background-image: url(https://downloads.somethingawful.com/misc/soccerball.svg);
      background-size: 15px
  }
  
  .user-info .fiftyblessings {
      background-image: url(https://downloads.somethingawful.com/misc/50_blessings.png);
      background-size: 15px
  }
  
  .user-info .matoi {
      background-image: url(https://fi.somethingawful.com/images/matoi.png);
      background-size: 15px
  }
  
  .user-info .coder {
      background-image: url(https://i.somethingawful.com/images/image-coder.png)
  }
  
  .user-info .idiotking {
      background-image: url(https://i.somethingawful.com/images/ik.png)
  }
  
  .user-info .diamond {
      background-image: url(https://i.somethingawful.com/images/diamond-icon.png)
  }
  
  .user-info .redpill {
      background-image: url(https://i.somethingawful.com/images/redpill.png)
  }
  
  .user-info .award {
      background-image: url(https://i.somethingawful.com/images/award.png)
  }
  
  .user-info .impzoneik {
      background-image: url(https://i.somethingawful.com/images/permaik.png);
      background-size: 15px
  }
  
  .user-info .magikoopa {
      background-image: url(https://fi.somethingawful.com/images/magikoopa2.gif);
      background-size: auto;
      padding-left: 44px !important;
      line-height: 30px !important
  }
  
  .user-info .astral {
      background-image: url(https://fi.somethingawful.com/images/avatars/astral.png);
      background-size: 15px
  }
  
  .user-info .kensei {
      background-image: url(https://downloads.somethingawful.com/misc/kensei.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .tflcspotter {
      background-image: url(https://fi.somethingawful.com/images/avatars/ylls-spotter.png)
  }
  
  .user-info .dtwenty {
      background-image: url(https://downloads.somethingawful.com/misc/d20.svg)
  }
  
  .user-info .book {
      background-image: url(https://downloads.somethingawful.com/misc/book.svg)
  }
  
  .user-info .tragedy {
      background-image: url(https://downloads.somethingawful.com/misc/tragedy.svg)
  }
  
  .user-info .poop {
      background-image: url(https://downloads.somethingawful.com/misc/poop.svg)
  }
  
  .user-info .kirbystar {
      background-image: url(https://downloads.somethingawful.com/misc/kirbystar.svg)
  }
  
  .user-info .helix {
      background-image: url(https://downloads.somethingawful.com/misc/helix.svg)
  }
  
  .user-info .hawkeye {
      background-image: url(https://downloads.somethingawful.com/misc/hawkeye.svg)
  }
  
  .user-info .duckie {
      background-image: url(https://downloads.somethingawful.com/misc/FluffieDuckie.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .meltdown {
      background-image: url(https://fi.somethingawful.com/images/svgs/nuclear-warning_Clipart_svg_File.svg);
      background-size: 15px
  }
  
  .user-info .chome {
      background-image: url(https://fi.somethingawful.com/safs/smilies/e/a/chome.001.gif);
      background-size: 15px
  }
  
  .user-info .balrog {
      background-image: url(https://fi.somethingawful.com/images/svgs/balrog.svg);
      background-size: 20px
  }
  
  .user-info .freakfuta {
      background-image: url(https://fi.somethingawful.com/images/platiconbird.png)
  }
  
  .user-info .netcafe {
      background-image: url(https://fi.somethingawful.com/images/lmao.png);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .canada {
      background-image: url(https://fi.somethingawful.com/images/svgs/mapleleaf.svg);
      background-size: 20px
  }
  
  .user-info .schnee {
      background-image: url(https://fi.somethingawful.com/images/svgs/schnee.svg);
      background-size: 18px
  }
  
  .user-info .commie {
      background-image: url(https://fi.somethingawful.com/images/svgs/commie.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .literallyabird {
      background-image: url(https://fi.somethingawful.com/images/svgs/literallyabird.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .raccoon {
      background-image: url(https://fi.somethingawful.com/images/svgs/raccoon.svg);
  }
  
  .user-info .baloogan {
      background-image: url(https://fi.somethingawful.com/images/svgs/fascism.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .anarchy {
      background-image: url(https://fi.somethingawful.com/images/svgs/anarchist.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .cacutar {
      background-image: url(https://fi.somethingawful.com/images/svgs/cacutar2.png);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .lightning {
      background-image: url(https://fi.somethingawful.com/images/svgs/lightning2.png);
      background-size: auto;
      padding-left: 20px !important;
      line-height: 30px !important
  }
  
  .user-info .zdr {
      background-image: url(https://fi.somethingawful.com/images/svgs/zdr.svg);
  }
  
  .user-info .verified {
      background-image: url(https://fi.somethingawful.com/images/svgs/verified.png)
  }
  
  .user-info .tankie {
      background-image: url(https://fi.somethingawful.com/images/svgs/tank.svg);
  }
  
  .user-info .atomic {
      background-image: url(https://fi.somethingawful.com/images/svgs/atomic.svg);
  }
  
  .user-info .manhattan {
      background-image: url(https://fi.somethingawful.com/images/svgs/manhattan.svg);
  }
  
  .user-info .larry {
      background-image: url(https://fi.somethingawful.com/images/svgs/loleggplant.png);
      background-size: auto;
      padding-left: 44px !important;
      line-height: 30px !important
  }
  
  .user-info .bbg {
      background-image: url(https://fi.somethingawful.com/images/svgs/bbg.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .skylark {
      background-image: url(https://fi.somethingawful.com/images/svgs/skylark.svg);
      background-size: auto;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .fungus {
      background-image: url(https://fi.somethingawful.com/images/svgs/fungus.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .quake {
      background-image: url(https://fi.somethingawful.com/images/svgs/quake.svg);
      background-size: 20px;
      padding-left: 20px !important;
      line-height: 20px !important
  }
  
  .user-info .lowtax {
  }
  