.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-block-loader {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive-loader {
    display: block;
    max-width: 100%;
    height: auto;
}