@{
    ViewData["Title"] = "Home Page";
}

@section head {
    <style>
        body {
            background-color: #F4F3F3;
        }
    </style>
}

<div id="react-app"></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
